:root {
  --gray-1: hsl(0, 0%, 9.5%);
  --gray-2: hsl(0, 0%, 10.5%);
  --gray-3: hsl(0, 0%, 15.8%);
  --gray-4: hsl(0, 0%, 18.9%);
  --gray-5: hsl(0, 0%, 21.7%);
  --gray-6: hsl(0, 0%, 24.7%);
  --gray-7: hsl(0, 0%, 29.1%);
  --gray-8: hsl(0, 0%, 37.5%);
  --gray-9: hsl(0, 0%, 43%);
  --gray-10: hsl(0, 0%, 50.7%);
  --gray-11: hsl(0, 0%, 69.5%);
  --gray-12: hsl(0, 0%, 93.5%);

  --brand-color-yellow: #f0c164;
  --brand-color-blue: #09988f;
  --brand-color-red: #ff0e0e;

  /* Typography */
  --size-xlarge: 4.484rem;
  --h2: 3.322rem;
  --h3: 2.46rem;
  --h4: 1.823rem;
  --h5: 1.35rem;
  --size-normal: 1rem;
  --size-small: 0.8rem;

  --font-heading: 'Koulen', sans-serif;
  --font-normal: 'Inter', sans-serif;

  /* Layout */
  --header-height: 370px;
  --container-width: 1280px;
}
