.app-search_container {
  position: relative;
}

.app-search {
  position: relative;
  padding: var(--space-2);
}

.app-search:before {
  content: '';
  background: var(--gray-3);
  padding: 0 var(--space-2);
  border-radius: 6px;
  position: absolute;
  top: var(--selection-offset, 0);
  opacity: var(--selection-opacity, 0);
  left: 0;
  right: 0;

  height: 36px;
  transition: top 150ms ease-out, opacity 150ms ease-in-out;
}

.app-search input[type='search']::-webkit-search-decoration,
.app-search input[type='search']::-webkit-search-cancel-button,
.app-search input[type='search']::-webkit-search-results-button,
.app-search input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.app-search_query,
.app-search input {
  background: none;
  border: 0;
  outline: none;
  appearance: none;

  font-size: var(--size-normal);
  color: var(--gray-12);
  position: relative;
}

.app-search input {
  width: 100%;
}

.app-search_query {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  white-space: nowrap;
}

.app-search_predict {
  font-size: var(--size-normal);
  position: absolute;
  top: var(--space-2);
  color: var(--gray-8);
  left: var(--cursor-offset);
  pointer-events: none;
  margin-left: var(--space-2);
}

.app-search_result {
  padding: var(--space-2);
  border-radius: 6px;
  color: var(--gray-8);
  transition: color 150ms ease, background 150ms ease;
  cursor: pointer;
  position: relative;
}

.app-search_result:hover {
  color: var(--gray-12);
}
